body {
  background-image: url("../img/login_background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#account-info-container {
  position: relative;
  width: 500px;
  background-color: rgba(217, 217, 217, 0.8);
  color: #1a1831;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  z-index: 1;
}

form {
  width: 100%;
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 0;
  background-color: #d9d9d9;
  color: #1a1831;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 700;
}

#submit {
  font-size: 22px;
  color: white;
  background-color: #1a1831;
  margin-top: 35px;
  height: 2.5em;
  font-weight: 400 !important;
}

#submit:hover {
  background-color: #211d54;
  transition-duration: 200ms;
}

#signup-text {
  margin-top: 20px;
}

#login-text {
  margin-top: 20px;
}

a:link,
a:visited {
  color: #1a1831;
}

#author-info {
  position: absolute;
  left: 5px;
  bottom: 0;
  color: white;
  font-weight: 400 !important;
  font-size: x-small;
  z-index: 0;
  width: 100%;
  padding: 2em;
}

#author {
  font-size: medium;
  font-weight: 400 !important;
}

#author-email,
#author-email:visited,
#author-linkedin,
#author-linkedin:visited {
  color: white;
  font-weight: 400 !important;
}

.alert-successful {
  background-color: #22203f !important;
  color: white !important;
}

.alert-dangerous {
  background-color: #5f0b0b !important;
  color: white !important;
}
