<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telescope Creator</title>
    <link href="../static/css/base.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="bignav">
    <nav class="navbar navbar-dark bg-blue">
        <div class="navbar-nav flex-row">
            <a class="nav-link nav-left" href="{{ url_for('home') }}">Create</a>
            <a class="nav-link nav-left" href="{{ url_for('inventory') }}">Inventory</a>
        </div>
        <div class="navbar-nav flex-row">
            <a class="nav-link nav-right" id="show-user">Welcome, {{ current_user.username }}!</a>
            <a class="nav-link nav-right" href="{{ url_for('logout') }}">Log out</a>
        </div>
    </nav>
    {% if create_form or edit_form %}
    <div class="navbar navbar-dark bg-black">
        <div class="navbar-nav flex-row">
            <ul>
                <li class="nav-link">Class: <span id="class-identifier"></span></li>
                <li class="nav-link">Budget: <span id="budget"></span></li>
                <li class="nav-link">Cost: <span id="cost">0</span></li>
                <li class="nav-link">Remaining budget: <span id="remaining-budget"></span></li>
            </ul>
        </div> 
        {% if create_form %}
        <input id="submit" type="submit" form="create-form" value="Create my telescope!">
        {% elif edit_form %}
        <input id="submit" type="submit" form="edit-form" value="Update my telescope!">
        {% endif %}
    </div>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    {% block body %}
        BODY OF PAGE GOES HERE VIA INHERITANCE
    {% endblock %}
<br>
<br>
<br>
<br>
<br>
<p id="author">Website written by <a id="author-linkedin" href="https://www.linkedin.com/in/so-yee-cheung/">Jasmine Cheung</a>. Please contact Jasmine at <a id="author-email" href="mailto:jasminesyc2000@gmail.com">jasminesyc2000@gmail.com</a> if you have any feedback or issues to report.</p>
</body>
</html>