{% extends "account_base.html" %}
{% block body %}
<form action="{{ url_for('login') }}" method="POST">
    {{ login_form.csrf_token }}
    {{ login_form.email.label }}
    {{ login_form.email }}
    {{ login_form.password.label }}
    {{ login_form.password }}
    {{ login_form.submit }}
</form>
{% for error in login_form.email.errors %}
{{ error }}
{% endfor %}
{% for error in login_form.password.errors %}
{{ password }}
{% endfor %}
<p>Don't have an account? Sign up <a href="{{url_for('signup')}}">here</a>.</p>

{% endblock %}